/* @import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #fffdf9;
} */
 /* @import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
 @import "tailwindcss";
 @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Montserrat:wght@400;500;600&display=swap");

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: #fffdf9;
  }
}